.header-login {
  height: 110px;
}
.header-login img {
  height: 45px;
  display: block;
  position: relative;
  top: 30%;
  float: left;
}
.content-head {
  display: block;
  height: 100%;
  padding: 0 22%;
  margin: 0 auto;
  position: relative;
}
.content-head a,
.content-head span {
  top: 40%;
  position: inherit;
  display: block;
}
.content-head a {
  right: 0;
  margin-left: 20px;
  float: left;
}
.content-head span {
  float: right;
}
.content-head span button {
  background-color: #0F75B3;
  color: #fff;
  margin-left: 5px;
  padding: 1px 4px;
  font-weight: 100 !important;
  font-family: Segoe UI;
  font-size: 9pt;
  border: none;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  height: 19px;
}
.content-head span button.active {
  background-color: #A16D59;
  color: #FFF;
}
.section-login {
  width: 100%;
  padding-top: 100px;
}
.section-login .card-container {
  width: 785px;
  height: 161px;
  margin: 0 auto;
}
.section-login .card-container .container-img {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}
.section-login .card-container .container-img img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.section-login .card-container .container-img .footer-icon-img,
.section-login .card-container .container-img .footer-img {
  position: absolute;
  bottom: 0;
  height: 60px;
}
.section-login .card-container .container-img .footer-icon-img {
  left: 0;
  width: 18%;
  padding: 8px 10px;
}
.section-login .card-container .container-img .footer-img {
  right: 0;
  width: 80%;
  padding: 12px 15px;
}
.section-login .card-container .container-form {
  float: left;
  width: 50%;
  padding: 30px 30px 30px 40px;
  height: 100%;
}
.section-login .card-container form label {
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  width: 50px;
  font-weight: 200;
}
.section-login .card-container form input {
  width: 252px;
  padding: 5px;
}
.section-login .card-container form .btn-login {
  margin-top: 5px;
  margin-left: 65%;
  border-radius: 0;
  height: 26px;
  padding: 0;
  min-width: 99px;
}
.login-footer {
  height: 98px;
  position: fixed;
  width: 100%;
  bottom: 20px;
}
.login-footer span {
  padding-right: 10px;
  font-size: small;
}
.login {
  margin-top: 150px;
}
.container-icon-group {
  width: 785px;
  height: 98px;
  margin: 0 auto;
  padding: 0 0 0 95px;
}
.container-icon {
  position: relative;
  float: left;
  top: -25px;
  text-align: center;
  width: 90px;
  margin-right: 70px;
}
.login_icon {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  padding-top: 4px;
  margin: 0 auto;
  background-color: #0F75B3;
}
.footer-form a {
  display: block;
  margin-top: 10px;
}
.footer-form .description {
  margin-top: 2px;
  width: 343px;
}
#profile-img {
  height: 112px;
}
