.dropdown-menu {
  left: 1% !important;
  margin-top: 40px !important;
}
.top-nav {
  margin: 0 !important;
  padding: 0 !important;
  height: 40px;
}
.top-nav .help {
  padding-top: 6px;
  cursor: pointer;
}
.container-help {
  height: 40px;
  width: 60px;
  text-align: center;
  display: block;
}
.option-nav {
  line-height: 25px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  float: left;
  text-align: center;
}
.navbar-header {
  width: 100%;
}
.navbar-collapse {
  padding: 0;
}
.menu-log {
  left: 5px;
  bottom: 9px;
  position: relative;
}
.profile-ava {
  position: relative;
  bottom: 5px;
}
.navbar-brand img {
  position: relative;
  bottom: 12px;
}
.navbar-ex1-collapse {
  background-color: #0f75b3 !important;
}
.navbar-ex1-collapse a {
  display: block;
  width: 100%;
  background-color: transparent;
  color: white;
}
.navbar-ex1-collapse a:hover,
.navbar-ex1-collapse a:focus {
  background-color: #00619f !important;
}
.navbar-ex1-collapse .nav .nav a {
  padding-left: 45px;
}
@media screen and (min-width: 768px) {
  .navbar-ex1-collapse,
  .collapse.in {
    display: none;
  }
}
