<section>
    <header>
        <h3 class="text-center text-thin">{{'header.USER_OPTIONS' | translate}}</h3>
        <br />
    </header>
    <article>
        <div class="item user-block">
            <!-- User picture-->
            <div class="user-block-picture">
                <div class="user-block-status">
                    <img ng-src="src/images/avatar_login.png" alt="Avatar" class="img-thumbnail img-circle">
                    <div class="circle circle-success circle-lg"></div>
                </div>
            </div>
        </div>
        <h4 class="text-thin">{{'entities.USER' | translate}}: {{user.fullName}}</h4>
        <h4 class="text-thin">ID: {{user.userId}}</h4>
    </article>
</section>
