.details-mode .container-uiview {
  transition: none !important;
}
.details-mode .sidebar-separe {
  display: none;
}
.details-mode .sidebar-separe-details {
  display: block;
}
.details-mode .back-details {
  cursor: pointer;
  float: left;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 30px;
  left: 10px;
}
.details-mode .container-sidebar {
  width: 55px;
}
.details-mode .collapse-btn {
  width: 55px;
}
@media screen and (min-width: 768px) {
  .layout-details {
    margin-left: -125px;
    margin-top: -5px;
  }
  .layout-details article {
    margin-top: 30px;
  }
  .aside-collapse .layout-details {
    margin-left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .layout-details {
    margin-left: 22px;
  }
}
.header-details {
  position: relative;
  margin: 0;
  display: flex;
}
.header-details .logo-container {
  width: 50px !important;
}
.header-details h3 {
  line-height: 0;
  font-weight: 400;
  font-family: "Segoe UI", sans-serif;
}
.header-details .info {
  padding-top: 15px;
}
.header-details .info img {
  vertical-align: text-bottom;
  width: 20px;
}
.header-details .logo {
  background-color: #f0f0f0;
  height: 70px;
  width: 30px;
  display: inline-block;
  position: relative;
  margin-left: -20px;
}
.header-details .logo:after {
  content: "";
  width: 0;
  height: 0;
  z-index: -2;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 20px solid #f0f0f0;
  position: absolute;
  left: 30px;
}
.header-details .logo .fa {
  position: absolute;
  left: 0;
  font-size: 35px;
  color: white;
  top: 15px;
}
.header-details .logo img {
  position: absolute;
  left: -18px;
  width: 70px;
  height: 75px;
  -webkit-filter: brightness(5);
  filter: brightness(5);
  top: -5px;
  z-index: 0;
}
.header-details span:first-child {
  margin-left: 0;
}
.header-details span {
  margin-left: 15px;
}
.options {
  height: 30px;
  background-color: #f1f1f1;
  margin-left: -20px;
  margin-right: -5px;
  margin-top: 10px;
  padding: 0 25px;
}
.options a {
  display: block;
  float: left;
  color: black;
  height: 100%;
  padding: 0 15px;
  line-height: 30px;
  text-decoration: none;
  position: relative;
  margin-left: 8px;
}
.options .active {
  background-color: #E25D41;
  color: white;
}
.options .active:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #E25D41;
  position: absolute;
  top: 30px;
  left: 42%;
}
