<section class="layout-details">
    <header class="header-details row">
        <div class="logo-container col-xs-1 clear-padding">
            <div class="logo">
                <i class="fa fa-university"></i>                
            </div>
        </div>
        <div class="col-xs-11 clear-padding">
            <h3>{{vm.turmaShow.descricao || ('dashboard.APP_NAME' | translate )}}</h3>
            <div class="info">
                <i class="fa fa-calendar-o"></i>
                {{vm.turmaShow.ano}}
            </div>
        </div>
    </header>
    <div class="options">
        <a class="active">RESUMO</a>
    </div>
    <article>
        <h4>DADOS DA TURMA</h4>
        <div class="col-sm-6 clear-padding">
            <form name="vm.turmaForm">
                <input class="form-control" type="text" value="Academia do Programador" name="descricao" ng-required="true" ng-disabled="true" /><br>
                <input class="form-control" type="number" value="2000" ng-model="vm.turma.ano" name="ano" ng-required="true" ng-disabled="false" /><br>
                <div ng-show="vm.turmaForm.ano.$error.required && vm.turmaForm.ano.$dirty" class="alert alert-danger">
                    Por favor, preencha o campo ano!
                </div>
                <div ng-show="vm.turmaForm.ano.minlength && vm.alunoForm.ano.$error.$dirty" class="alert alert-danger">
                    O campo ano deve ter 4 digitos!
                </div>

                <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="vm.turmaForm.$invalid">Salvar</button>
                <button class="btn btn-success" ng-click="vm.clearFields()">Limpar</button>
            </form>
        </div>
    </article>

</section>