.side-option {
  width: 200px;
  height: 50px;
  border-right: solid 5px rgba(204, 204, 204, 0.2);
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.side-option a {
  display: inline-block;
  padding: 15px;
  line-height: 20px;
  text-decoration: none;
  position: absolute;
  width: 100%;
}
.side-option.ng-hide {
  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.aside-collapse.logged .side-option {
  width: 55px;
  -moz-transition: width 0.4s 0.2s;
  -o-transition: width 0.4s 0.2s;
  -webkit-transition: width 0.4s 0.2s;
  transition: width 0.4s 0.2s;
}
@media screen and (max-width: 768px) {
  .side-option {
    width: 100%;
    float: none;
  }
}
.icon-option {
  position: relative;
  bottom: 4px;
}
.seta-direita {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  margin-top: 16px;
  position: absolute;
  z-index: 9999999;
  float: right;
  margin-left: 200px;
  display: none;
  transition: margin-left 0.4s;
}
.aside-collapse.logged .seta-direita {
  margin-left: 55px;
  transition: margin-left 0.4s 0.2s;
}
.actived .seta-direita {
  display: block !important;
}
@media screen and (max-width: 768px) {
  .seta-direita {
    display: none;
  }
}
