
<ndd-head class="text-capitalize" title="{{'entities.GROUP' | translate}}: {{vm.user.firstName + ' ' + vm.user.lastName }}" 
          back-route="app.user.list"></ndd-head>

<hr style="margin-top: 2%" />

<div class="container-user">
    <h3 ng-show="vm.groups.length <= 0" class="text-center">Não há grupos cadastrados</h3>
    <div class="col-sm-offset-3 col-sm-6">
        <ndd-group-checkbox array="vm.groups" compare="vm.user.groups" callback="vm.onchange"></ndd-group-checkbox>
    </div>

    <div class="col-xs-12 text-cente">
        <hr />
        <button class="btn btn-success" ng-click="vm.modal()"
                data-toggle="modal" data-target="#modelEditUser" ng-disabled="!vm.hasChange">
            <i class="fa fa-save"></i>
            <span>Salvar</span>
        </button>
    </div>
</div>

<ndd-modal target="modelEditUser" label="{{vm.titleModelEdit}}" callback="vm.saveChanges">
    {{vm.bodyModelEdit}}
</ndd-modal>

<ndd-confirm-exit controller="vm"><ndd-confirm-exit>
